<div class="text-success">
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'profile', book: @book %>
    <div class="col-md-8 offset-1">
      <h2>Book detail</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <%= link_to @book.user.name, user_path(@user.id) %>
      <%= @book.title %>
      <%= @book.body %>
      <%= link_to "Edit", edit_book_path, class: "btn btn-success" %>
      <%= link_to "Destroy", books_path, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
