<div class="text-success">
  <%= flash[:notice] %>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'profile', user: @user %>
    <div class="col-md-8 offset-1">
      <h2>Book detail</h2>
      <%= image_tag @book.user.get_profile_image(100,100) %>
      <%= link_to @book.user.name, user_path(@book.user.id) %>
      <%= link_to @book.title, book_path %>
      <%= @book.body %>
      <% if @book.user == current_user %>
        <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
        <%= link_to "Destroy", books_path(@book), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
