<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scal=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/79dbbf293f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="header row px-3 py-4">
        <div class="col-2">
          <div class="logo">Bookers</div>
        </div>
        <div class="col-6 offset-4">
          <div class="row">
            <% if user_signed_in? %>
              <div class="col-3">
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to "/users" do %>
                  <i class="fa-solid fa-users"></i>Users
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to "/books" do %>
                  <i class="fa-solid fa-book-open"></i>Books
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-right-from-bracket"></i>Log out
                <% end %>
              </div>
            <% else %>
              <div class="col-3">
                <%= link_to root_path do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to about_path do %>
                  <i class="fa-solid fa-link"></i>About
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus"></i>Sign up
                <% end %>
              </div>
              <div class="col-3">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-right-to-bracket"></i>Log in
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <%= yield %>

      <div class="footer row justify-content-center">
        CopyRight Infratop.inc
      </div>
    </div>
  </body>
</html>
